body {
  overflow: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 110px;
  padding: 20px 0 0;
  color: white;
  box-sizing: border-box;
}

.App-title {
  font-size: 1.5em;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map {
  bottom:0px;
  /* height: 87%; */
  top:110px;
  left: 0;
  position: absolute;
  right: 0;
}
button {
  position: absolute;
  left: 0;
}
.weather {
  position: absolute;
  z-index: 1;
  right: 30px;
  top:130px;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  background-color: #2222228f;
  border-radius: 15px;
  width: 200px;
  padding: 10px;
}
.weather p {
  font-size: xx-small;
  margin: 0;

}
.weather_icon {
  display: none;
}
.weather.close {
  display: none;
}

.search-bar {
  height: 45px;
  text-align: left;
  border-top: 1px solid #504e4e;
  box-sizing: border-box;
  display: flex;
}
.search-icon {
  background-image: url('./img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.2em;
  color: #888;
  width: 3em;
}
.refresh-icon {
  background-image: url('./img/refresh.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.2em;
  color: #888;
  width: 55px;
  right: 0;
}

.refresh-icon:hover {
  cursor: pointer;
  transform: rotate(-360deg);
  transition: transform 1s;
}
.search-icon.close{
  /* background-image: url('./img/burger_menu.svg'); */
  -webkit-transform: rotateY(180deg); 
  transform: rotateY(180deg); 
}
.search-places {
  width: 100%;
  padding: 20px 20px 20px 0;
  background-color: #222;
  color: #888;
  
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.nav {
  width:250px;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  transition: transform 0.3s ease;
}
.search-list {
  position: absolute;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  
}
.search-item {
  padding: .7em;
  text-align: left;
  
  background: #2222228f;
  color: #fff;
  border-bottom: 1px solid #888;
}
/* .search-item:hover {
  
  background: #3390dcd4
} */
.search-item-hover {
  padding: .7em;
  text-align: left;
  background: #2222228f;
  color: #fff;
  background: #3390dcd4
}
.nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.category {
  border-right: 1px solid;
  width: 120px;
}
.problem {
  font-size: 4em;
  position: absolute;
  top: 300px;
}

/* ====== Info Window ====== */
.desc{
  position: absolute;
  background: #000000c4;
  color: #fff;
  /* width: 40%; */
  /* height: 60%; */
  border: 3px solid #3390dcd4;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 0px #3a2c2c;

}

.close-button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 3px solid #3390dcd4;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url('./img/close_button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em;
}

.close-button:hover {
  cursor: pointer;
  background-image: url('./img/close_button_highLight.svg');
}
.desc .title {
  padding: 30px 0 0;
}

.desc h2, h4{
  margin: .2em;
}

.timetable {
  padding: 10px;
}
.timetable  table, td{
  padding: 7px;
  border: 1px solid #fff;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto
}

.desc img {
  border: 3px solid #3390dcd4;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px #8c8686;
  margin: 5px;
  width: 300px;
}

.desc p {
  
  padding: 0 15px;
  text-align: justify;

}
.desc a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

.more {
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  .weather {
    display: none;
  }
  .weather_icon {
    z-index: 1;
    position: absolute;
    right: 1em;
    display: block
  }
  .photo {
    display: none;
  }
  .desc {
    font-size: smaller;
  }
  .problem {
    top: 200px;
  }
}