body {
  overflow: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 110px;
  padding: 20px 0 0;
  color: white;
  box-sizing: border-box;
}

.App-title {
  font-size: 1.5em;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map {
  bottom:0px;
  /* height: 87%; */
  top:110px;
  left: 0;
  position: absolute;
  right: 0;
}
button {
  position: absolute;
  left: 0;
}
.weather {
  position: absolute;
  z-index: 1;
  right: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  background-color: #80808040;
  border-radius: 15px;
  width: 200px;
  padding: 10px;
}
.weather p {
  font-size: xx-small;
  margin: 0;
}

.search-bar {
  height: 45px;
  text-align: left;
  border-top: 1px solid #504e4e;
  box-sizing: border-box;
  display: flex;
}
.search-places {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-color: #222;
  color: #888;
  background-image: url('./img/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.search-list {
  position: absolute;
  padding-left: 0;
  list-style-type: none;
  margin: 0
}
.search-item {
  padding: .7em;
  text-align: left;
  background: #2222228f;
  color: #fff;
  border-bottom: 1px solid #888;
}
.search-item:hover {
  background: #33dcc6ba
}

.category {
  border-right: 1px solid;
  width: 120px;
}